/************************************************************************************
  HOME
*************************************************************************************/
p.require {
  margin-top: 40px;
}

ul.require {
  list-style: disc;
  margin-left: 18px;
}


/************************************************************************************
  REFERENCE
*************************************************************************************/
#reference h3 {
  font-size: 1.5em;
  margin-top: 44px;
}

#reference dt {
  font-weight: bold;
}


/************************************************************************************
  EDITOR
*************************************************************************************/
#editor .CodeMirror {
  border: 0;
  font-size: 13px;
  opacity: .7;
}

#editor canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #fdf6e3;
}

#editor .editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/************************************************************************************
  CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }